<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="/static/css/style3.css">
    <script src="https://kit.fontawesome.com/fc64ebb6dd.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main">
        <header class="header">
            <nav class="navbar">
                <div class="logo-container">
                    <img src="/static/img/logo.jpg" alt="Innovic Spark Logo" class="logo-img">
                    <span class="logo-text">Innovic Spark</span> <!-- Text next to the logo -->
                </div>
                <div class="nav-links" id="navLinks">
                    <!-- <i class="fa fa-times" onclick="hideMenu()"></i> -->
                    <ul>
                        <li><a href="/templates/index">HOME</a></li>
                        <li><a href="/chat">CHATBOT</a></li>
                        <li><a href="/">ABOUT</a></li>
                        <li><a href="/templates/course">COURSES</a></li>
                        <li><a href="/">BLOG</a></li>
                        <li><a href="/">CONTACT</a></li>
                    </ul>
                </div>
                <!-- <i class="fa fa-bars" onclick="showMenu()"></i> -->
            </nav>
        </header>
        <div id="projects">
            <div class="container">
                <h1 class="title2"><span class="highlight">C</span>ourses</h1>
                <div class="project-list">
                    <div>
                        <i class="fa-solid fa-magnifying-glass-chart"></i>
                        <h2>Data Science</h2>
                        <p>Covers data analysis, machine learning, and big data tools like Python and R.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: Data analysis, AI</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-dice-d6"></i>
                        <h2>Blockchain Development</h2>
                        <p>Introduction to blockchain technology, smart contracts, and decentralized apps.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: Cryptography, Solidity</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-square-poll-vertical"></i>
                        <h2>Digital Marketing</h2>
                        <p>Focus on SEO, social media marketing, Google Ads, and analytics tools.</p>
                        <p>Duration: 3 months</p>
                        <p>Skills: SEO, Google Analytics</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-robot"></i>
                        <h2>Robotics</h2>
                        <p>Introduction to robotics, automation, and control systems in various industries.</p>
                        <p>Duration: 2 years</p>
                        <p>Skills: Robotics, Automation, AI</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-brands fa-react"></i>
                        <h2>Full-Stack Web Development</h2>
                        <p>Covers both front-end and back-end web technologies including HTML, CSS, JavaScript, and databases.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: HTML, JavaScript, React, Node.js</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-mobile-screen"></i>
                        <h2>Mobile App Development</h2>
                        <p>Learn to design and build mobile apps for Android and iOS using languages like Swift and Kotlin.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: Mobile App Development, Swift, Kotlin</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-chart-line"></i>
                        <h2>Business Analytics</h2>
                        <p>Learn how to analyze and interpret data to make informed business decisions.</p>
                        <p>Duration: 4 months</p>
                        <p>Skills: Data Analysis, Decision Making</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-wand-magic-sparkles"></i>
                        <h2>UI/UX Design</h2>
                        <p>Covers user interface design, user experience, wireframing, and prototyping.</p>
                        <p>Duration: 4 months</p>
                        <p>Skills: UI Design, Prototyping</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-cloud"></i>
                        <h2>Cloud Computing</h2>
                        <p>Learn cloud platforms like AWS, Azure, and Google Cloud, focusing on architecture and services.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: Cloud Infrastructure, DevOps</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-seedling"></i>
                        <h2>Sustainable Energy Engineering</h2>
                        <p>Focus on renewable energy systems, energy efficiency, and green technologies.</p>
                        <p>Duration: 2 years</p>
                        <p>Skills: Solar, Wind Energy Tech</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-brands fa-python"></i>
                        <h2>AI and Machine Learning</h2>
                        <p>Covers neural networks, deep learning, and advanced algorithms in AI.</p>
                        <p>Duration: 1 year</p>
                        <p>Skills: Machine Learning, Python</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-magnifying-glass-chart"></i>
                        <h2>Genetic Counseling</h2>
                        <p>Specialized training in genetic risk assessment and medical genetics.</p>
                        <p>Duration: 2 years</p>
                        <p>Skills: Genetics, Counseling</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-link"></i>
                        <h2>FinTech</h2>
                        <p>Introduction to financial technologies such as blockchain, digital payments.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: FinTech, Blockchain</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-prescription-bottle-medical"></i>
                        <h2>Telemedicine</h2>
                        <p>Covers technologies for remote medical consultations and diagnostics.</p>
                        <p>Duration: 1 year</p>
                        <p>Skills: Remote Diagnostics</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-file-waveform"></i>
                        <h2>Health Informatics</h2>
                        <p>Focus on managing healthcare information using technology to improve patient care.</p>
                        <p>Duration: 1 year</p>
                        <p>Skills: Health IT, Data Analysis</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-person-chalkboard"></i>
                        <h2>Project Management</h2>
                        <p>Learn the key principles of managing projects, including risk management and agile methodologies.</p>
                        <p>Duration: 4 months</p>
                        <p>Skills: Agile, Scrum, Risk Management</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-shield-halved"></i>
                        <h2>Cybersecurity</h2>
                        <p>Learn how to protect systems from cyber threats, ethical hacking, and network security.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: Ethical Hacking, Network Security</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-chart-pie"></i>
                        <h2>Graphic Design</h2>
                        <p>Covers design principles, Adobe Creative Suite, and digital illustration techniques.</p>
                        <p>Duration: 3 months</p>
                        <p>Skills: Photoshop, Illustrator, Creativity</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-user-nurse"></i>
                        <h2>Nursing</h2>
                        <p>Comprehensive nursing education covering patient care, anatomy, and clinical practice.</p>
                        <p>Duration: 2 years</p>
                        <p>Skills: Patient Care, Clinical Practice</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-coins"></i>
                        <h2>Financial Planning</h2>
                        <p>Learn how to assess financial risks, retirement planning, and investment strategies.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: Financial Analysis, Risk Management</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Toggle menu on mobile
        function showMenu() {
            document.getElementById("navLinks").style.right = "0"; // Show menu
        }

        function hideMenu() {
            document.getElementById("navLinks").style.right = "-200px"; // Hide menu
        }
    </script>
</body>
</html>